.inner-section-container {
    margin-top: 72px;
    padding-inline: 2px;
    padding-top: 40px;
}

.accent-title {
    margin: 0 0 1.1em;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    line-height: 115%;
    letter-spacing: .05em;
    text-align: left;

    color: #FF4A26;
}

/* ====================================================================================================== burger-menu */
.burger-menu menu {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 400px;
}

.burger-menu menu>li {
    width: 100%;
}

/* ======================================================================================================= main-page */
section.main-page .inner-wrapper,
section.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main-page .inner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-page .burger-wrapper,
.burger-menu .burger-wrapper {
    height: 72px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.main-page {
    inset: 0;
    padding-top: 60px;
    padding-inline: 16px;
    overflow: hidden;
    background-image: url(../assets/main-bg-x2.png);
    background-repeat: no-repeat;
    background-size: 831px 924px;
    background-position: -214px -296px;
}

.main-page-decor {
    position: absolute;
    min-width: 770px;
    top: -247px;
    left: -173px;
}

.main-page-bottom {
    width: 100%;
    margin-top: auto;
    padding-block: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.main-page-bottom .info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.info-item {
    padding-left: 54px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.info-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 42px;
    height: 32px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/prize-icon.svg');
}

.info-title {
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #A6A6A6;
    letter-spacing: .05em;
    line-height: 1.2;
}

.info-value {
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
}

/* ======================================================================================================= rating */
.winners-container {
    width: 100%;
    margin: 0 auto;
}

.rating-list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;
}

ol.rating-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ol.rating-list>li {
    padding: 8px 34px 8px 16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #27272D;
    border: 1px solid rgba(128 128 159 / .5);
}

ol.rating-list>li:not(:last-child) {
    margin-bottom: 6px;
}


ol.rating-list>li>.inner {
    display: flex;
    align-items: center;
    gap: .5em;
}

ol.rating-list>li .nick-wrapper {
    width: 45%;
    margin-left: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol.rating-list>li .score-wrapper {
    min-width: 30%;
    margin-left: auto;
}

ol.rating-list>li .label,
ol.winners-list>li .label {
    display: block;
    margin-bottom: auto;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: rgba(255 255 255 / 0.5);
}

ol.rating-list>li .nick,
ol.rating-list>li .score,
ol.winners-list>li .nick,
ol.winners-list>li .score {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}

ol.rating-list>li .place {
    display: block;
    width: 44px;
    margin: auto 0;
    margin-right: 22px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

ol.rating-list>li:nth-child(-n+5) {
    padding: 14px;
    padding-right: 40px;
    position: relative;
    border-color: #FF3627;
}

ol.rating-list>li:nth-child(-n+5)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 90%;
    background-image: url('../assets/flag.png');
    background-repeat: no-repeat;
    background-position: -65px -112px;
}

ol.rating-list>li:nth-child(-n+5) .place {
    width: 20px;
    margin: 0;
    margin-bottom: auto;
    font-size: 32px;
    line-height: 0.7;
    color: #FF3627;
}

ol.rating-list>li.current-player {
    scroll-margin: 50vh 0 50vh 0;
    background-image: var(--basic-gradient);
}

ol.rating-list>li:nth-child(-n+5) .winner-avatar {
    width: 48px;
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--basic-gray);
}

.hidden {
    display: none;
}

.current-player-wrapper {
    padding: 17px 14px 14px;
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #17171B;
    border-radius: 10px 10px 0 0;
    outline: 1px solid #FF3627;
    outline-offset: -1px;

}

.current-player-title,
.current-player-score-wrapper {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.current-player-label {
    font-size: 12px;
    font-weight: 700;
    color: rgba(255 255 255 / .5);
    font-style: italic;
    margin-bottom: 4px;
}

.current-player-score,
.current-player-place {
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
}

.current-player-score {
    color: #FF3627;
}

.current-player-action {
    width: 100px;
    height: 40px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
}

.current-player-action.ready {
    pointer-events: all;
    opacity: 1;
}


#scroll-to-me-link,
#scroll-up-link {
    position: absolute;
    z-index: 1;
    inset: 0;
}

/* winners */
section.winners {
    margin-bottom: 40px;
}

section.winners .winners-container {
    padding-right: 0;
}

section.winners .title,
section.winners-rating .title {
    margin: 0;
    margin-bottom: 1em;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

section.winners .title {
    position: relative;
    padding-left: 32px;
}

section.winners .title::before {
    content: "";
    position: absolute;
    width: 32px;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url('../assets/cup.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 21px;
}

.winners-list {
    list-style: none;
    margin: 0;
    padding: 0 16px 0 0;
    display: flex;
    gap: 12px;
    overflow-y: scroll;
}

.winners-list::-webkit-scrollbar {
    display: none;
}

.winners-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ol.winners-list li.item {
    padding-top: 42px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

ol.winners-list li.item {
    position: relative;
}

ol.winners-list li.item .inner {
    width: 112px;
    padding: 74px 10px 32px;
    position: relative;
    background-color: #27272D;
    background-image: url('../assets/winners-flag.png');
    background-repeat: no-repeat;
    background-position: -74px -119px;
    border-radius: 10px;
    border: 1px solid #FF3627;
    overflow: hidden;
}

ol.winners-list li .winner-avatar {
    width: 87px;
    height: 87px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #161D1D;
}

ol.winners-list>li .nick-wrapper {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 38px;
}

ol.winners-list>li .place {
    position: absolute;
    width: 64px;
    height: 64px;
    padding-top: 5px;
    padding-left: 15px;
    right: -30px;
    bottom: -30px;
    font-size: 24px;
    font-weight: 800;
    color: #FF3627;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ======================================================================================================= lotteries */
.games-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.games-item>a {
    display: block;
    padding: 1.5em 1em;
    background-color: #27272D;
    border-radius: 10px;
    border: 1px solid #FF3627;
    transition: .3s ease-in-out;
}

@media (hover: hover) {

    .games-item>a:hover,
    .games-item>a:focus-visible {
        scale: 1.05;
        box-shadow: 0 0 15px rgba(255 54 39 / .8);
    }
}

.games-item>a:active {
    scale: .95;
    box-shadow: 0 0 10px rgba(255 54 39 / 1);
}

.games-item>a>img {
    display: block;
    flex-shrink: 0;
    width: 120px;
    margin: 0 auto;
}

/* ======================================================================================================= faq */
ul.faq-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq-list>li {
    background-color: var(--darker-gray);
    border-radius: 10px;
    color: #fff;
    font-style: italic;
}

.faq-list>li>button::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 0C4.478 0 0 4.478 0 10s4.478 10 10 10 10-4.478 10-10S15.522 0 10 0Zm0 2.478c3.322 0 6.148 2.166 7.14 5.158H2.86C3.852 4.642 6.678 2.478 10 2.478ZM2.478 10h2.906l.366 1.718c.038.184.096.36.166.526l-2.072 2.072a7.48 7.48 0 0 1-1.366-4.318V10Zm3.01 6.014 2.164-2.164c.288.096.596.148.912.148h2.866c.318 0 .624-.052.912-.148l2.164 2.164a7.48 7.48 0 0 1-4.51 1.506 7.488 7.488 0 0 1-4.51-1.506h.002Zm10.666-1.698-2.072-2.072c.072-.168.128-.344.166-.526L14.614 10h2.906a7.484 7.484 0 0 1-1.366 4.318v-.002Z' fill='%23ffffff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 50% 50%;
    vertical-align: middle;
    margin-left: auto;
    transition: rotate .3s ease-in-out;
}
.faq-list>li.opened>button::after {
    rotate: 180deg;
}

.faq-list>li:not(:last-of-type) {
    margin-bottom: 20px;
}

.faq-list>li button {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    color: inherit;
    text-align: left;
    border-radius: 10px;
    background-color: var(--basic-gray);
    border: none;
    border-bottom: 1px solid #fff;
    outline-color: #fff;
    outline-offset: -3px;
    cursor: pointer;
}

.faq-list>li button>span {
    max-width: 70%;
    pointer-events: none;
}

.faq-list>li .panel {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out, padding .5s ease-in-out;
}

.faq-list>li .panel h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 .5em;
}

.faq-list>li .panel p {
    margin: 0;
}

.faq-list>li .panel p:not(:last-of-type) {
    margin-bottom: 1.2em;
}

.faq-list>li.opened .panel {
    padding: 1em;
}

/* =================================================================================================== prizes */
section.prizes .inner-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.prizes-top {
    margin-bottom: 20px;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #27272D;
    border: 1px solid rgba(128 128 159 / 0.5);
    border-radius: 10px;
}

.prizes-top-decor {
    flex-shrink: 0;
}

.prizes-top-descr {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.35;
}

.prizes-top-descr>u {
    text-decoration: none;
    color: #FF3627;
}

.prizes-table {
    width: 100%;
    margin-bottom: 20px;
}

.prizes-table-head,
.prizes-table-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.prizes-table-head {
    margin-bottom: 10px;
    padding-inline: 24px;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.prizes-table-content {
    padding: 16px 22px;
    border-radius: 10px;
    background-color: #27272D;
    border: 1px solid rgba(128 128 159 / 0.5);
    font-size: 15px;
    font-style: italic;
    font-weight: 800;

}

.prizes-table-content:nth-of-type(-n + 6) {
    border-width: 2px;
    border-color: #FF3627;
}

.prizes-table-content:not(:last-of-type) {
    margin-bottom: 10px;
}

.prizes-table-head>span:last-of-type,
.prizes-table-content>span:last-of-type {
    justify-self: end;
}

.prizes-table-content>span>img {
    padding-left: .5ch;
    vertical-align: baseline;
}

/* =================================================================================================== info */
.info-list {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.info-list-item {
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.info-item-decor {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item-decor>img {
    flex-shrink: 0;
}

.info-item-title {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .05;
    color: #FF3627;
}

.info-item-descr {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}


@media (min-width: 630px) {

    .accent-title {
        font-size: 28px;
    }

    /* ======================================================================================================= main-page */

    .main-page .burger-wrapper,
    .burger-menu .burger-wrapper {
        height: 79px;
    }

    .main-page {
        padding-top: 100px;
        padding-inline: 32px;
        background-image: linear-gradient(transparent 15%, rgba(0 0 0 / .7)), url(../assets/main-bg-x2.png);
        background-repeat: no-repeat;
        background-size: cover, 907px 1000px;
        background-position: 100% 100%, -119px -295px;
    }

    .main-page-bottom {
        padding-block: 44px 144px;
    }

    .info-item {
        padding-left: 70px;
    }

    .info-item::before {
        width: 60px;
        height: 46px;
    }

    .info-title {
        font-size: 16px;
        font-weight: 800;
    }

    .info-value {
        font-size: 24px;
    }

    .rating-list-wrapper {
        padding-bottom: 90px;
    }

    ol.rating-list>li {
        padding-right: 60px;
    }

    ol.rating-list>li:not(:last-child) {
        margin-bottom: 10px;
    }

    ol.rating-list>li .score-wrapper {
        margin-left: 0;
    }

    ol.rating-list>li .place {
        font-size: 36px;
        width: 66px;
    }

    ol.rating-list>li .label {
        font-size: 18px;
    }

    ol.rating-list>li .nick,
    ol.rating-list>li .score {
        font-size: 20px;
    }

    ol.rating-list>li:nth-child(-n+5) .winner-avatar {
        margin-right: 28px;
    }

    ol.rating-list>li:nth-child(-n+5) .place {
        font-size: 36px;
    }

    ol.rating-list>li:nth-child(-n+5) {
        padding-right: 60px;
    }

    ol.rating-list>li:nth-child(-n+5)::before {
        width: 100px;
        background-position: -70px -157px;
    }

    .current-player-wrapper {
        padding: 1em 2em;
    }

    .current-player-label {
        font-size: 20px;
    }

    .current-player-score,
    .current-player-place {
        font-size: 22px;
    }

    .current-player-action {
        width: 151px;
        height: 54px;
        font-size: 20px;
    }

    /* winners */
    section.winners {
        margin-bottom: 50px;
    }

    section.winners-rating .title {
        line-height: 1.35;
        font-size: 28px;
    }

    section.winners .title {
        line-height: 1.35;
        font-size: 28px;
        padding-left: 47px;
    }

    section.winners .title::before {
        background-size: 26px 36px;
    }

    ol.winners-list {
        min-width: 100%;
        justify-content: space-between;
    }

    ol.winners-list>li.item .inner {
        padding-bottom: 56px;
    }

    ol.winners-list>li .nick-wrapper,
    ol.winners-list>li .score-wrapper {
        min-height: 42px;
    }

    ol.winners-list>li .label,
    ol.winners-list>li .nick,
    ol.winners-list>li .score {
        font-size: 16px;
    }

    ol.winners-list>li.item .place {
        right: -16px;
        bottom: -16px;
        padding-top: 7px;
        padding-left: 20px;
        font-size: 36px;
    }

    /* ==================================================== lotteries */
    .games-list {
        padding: 0 14px;
    }

    .games-list {
        gap: 32px;
    }


    .games-item>a {
        display: block;
        padding: 40px 32px;
    }

    .games-item>a>img {
        flex-shrink: 0;
        width: 200px;
    }

    /* ==================================================== faq */

    .faq-list>li>button::after {
        background-size: 24px 24px;
    }

    .faq-list>li:not(:last-of-type) {
        margin-bottom: 24px;
    }

    .faq-list>li .panel {
        font-size: 18px;
    }

    .faq-list>li button {
        font-size: 18px;
    }

    /* =================================================================================================== prizes */
    section.prizes .inner-section-container {
        padding-bottom: 50px;
    }

    .prizes-top {
        padding: 16px 60px;
        margin-bottom: 32px;
        gap: 70px;
    }

    .prizes-top-decor {
        width: 96px;
    }

    .prizes-top-descr {
        margin: 0;
        font-size: 24px;
        text-transform: uppercase;
    }

    .prizes-table {
        width: 100%;
        margin-bottom: 32px;
    }

    .prizes-table-head {
        margin-bottom: 20px;
        padding-inline: 32px;
        font-size: 18px;
    }

    .prizes-table-content {
        padding: 24px 28px;
        font-size: 24px;
    }

    .prizes-table-content:nth-of-type(-n + 6) {
        border-width: 2px;
        border-color: #FF3627;
    }

    .prizes-table-content:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .prizes-table-head>span:last-of-type,
    .prizes-table-content>span:last-of-type {
        justify-self: end;
    }

    .prizes-table-content>span>img {
        width: 25px;
        padding-left: .5ch;
        vertical-align: baseline;
    }


    /* ==================================================== info */
    .info-list {
        gap: 50px;
        max-width: 563px;
    }

    .info-item-decor {
        width: 150px;
        height: 150px;
    }

    .info-list-item:nth-of-type(1) .info-item-decor>img {
        width: 103px;
    }

    .info-list-item:nth-of-type(2) .info-item-decor>img {
        width: 129px;
    }

    .info-list-item:nth-of-type(3) .info-item-decor>img {
        width: 131px;
    }

    .info-item-title {
        font-size: 28px;
    }

    .info-item-descr {
        font-size: 20px;
    }
}